# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Node / React
node_modules/
web/build/
web/dist/
web/.next/

# Models (we'll download them instead of storing in git)
models/*.pt
models/*.onnx
models/*.tflite

# Data (raw/processed images - keep out of git)
data/
datasets/
*.zip
*.jpg
*.jpeg
*.png

# Logs & temporary files
*.log
*.tmp
*.csv
.DS_Store

# IDE / OS files
.vscode/
.idea/
