# ---------------------
# Python
# ---------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
venv/
env/

# Jupyter
.ipynb_checkpoints/

# ---------------------
# Node / React
# ---------------------
node_modules/
web/node_modules/
web/build/
web/dist/
web/.next/

# ---------------------
# Machine Learning
# ---------------------
models/*.pt
models/*.onnx
models/*.tflite
models/*.h5
models/*.pth

# Large datasets
data/
datasets/
*.jpg
*.jpeg
*.png
*.zip
*.csv

# ---------------------
# Logs & Temporary
# ---------------------
*.log
*.tmp
.DS_Store

# ---------------------
# OS / IDE
# ---------------------
.vscode/
.idea/
